/*
.rw-calendar {
	width: 100%;

	.rw-calendar-grid {
		width: calc(100% - 20px);
		margin-left: 10px;
		margin-top: 10px;

		td, th {
			text-align: center;
		}

		tbody td {
			border: 1px solid #CCCCCC;
		}

	}
}
*/

.mm-day {
	display: block;
    text-align: center;
    width: 13%;
    float: left;
    clear: none;
    border: 1px solid #FFFFFF;

    &.hasevent {
    	border: 1px solid #00FF00;
    	cursor: pointer;
    }

    &.selected {
    	background-color: #DADADA;
    }

    &.mm-different-month {
    	background-color: #666666;
    	color: #CCCCCC;
    	opacity: 0.5;
    }
}

.mm-calendar-week .mm-day {
    font-weight: bold;
}