/* colors */
@import "variables";

#column-to-expand {
  width: 30px;
  float: right;
  clear: none;
}
#column-to-expand button {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  border: 1px solid #333333;

  &.btn-toggle-expanded {
    background-color: #FFFFFF;    
  }
  &.btn-toggle-notexpanded {
    background-color: #666666;
  }
}

#container-expandable-widgets {
  div.widget {
    position: absolute;
    left: 0;
    top: 0;
    /*
    -webkit-transition: width 0.3s ease;                  
    -moz-transition: width 0.3s ease;                 
    -o-transition: width 0.3s ease;   
    -ms-transition: width 0.3s ease;          
    transition: width 0.3s ease;
    */
    overflow: hidden;

    &.widget_expanded {
      width: 300px;
    }
  }
}