/*
#container > div div.column {
    float: left;
    clear: none;
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
}



#container > div div.widget.over {
  border: 1px dashed #000;
}

#container > div div.column header {
    cursor: move;
}
*/

/* colors */
@import "variables";


div.widget {
  width: 100%;
  border:1px solid $bordercolor;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #FFFFFF;

  &.widget_disabled {
    display: none;
  }

  > header, widget.content {
    width:100%;
    height: 100%;
  }

  > header {
    border-bottom: 1px dashed $bordercolor;
    position: relative;
    padding: 5px 10px;
    > div {
      position: absolute;
      top: 5px;
      right: 5px;
      width: auto;

      div {
        width: 20px;
        height: 20px;
        float: left;
        clear: none;
        margin-right: 5px;
        @include headerbutton();

        &:last-child {
          margin-right: 0;
        }
        &:hover {
          opacity: 0.4;
          cursor: pointer;
        }
        &:before {
          font-size: 16px;
          margin-left: 6px;
          line-height: 1px;
        }
        &.widget_header_collapsed:before {
          content: "-";
        }
        &.widget_header_contracted:before {
          content: "+";
          margin-left: 5px;
        }
        &.wigdet_header_close:before {
          content: "X";
          font-size: 12px;
        }
        &.wigdet_header_tooltip:before {
          content: "?";
          font-size: 12px;
        }
      }
    }
  }

  .widget_content {

    h2 {
      font-size: 16px;
      padding: 0 10px;
      margin: 10px 0;
    }
  }

  ul.widget_list_default {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  
    li {
      border-bottom: 1px dashed $bordercolor;
      padding: 5px 10px;
      &:before {
        content: $widgetlistbefore;
        margin-right: 5px;
      }
      &:last-child {
        border: none;
      }
    }
    
  }

  &.widget_notexpanded {
    width: 0;
    border: 0;
  
    > header, div.widget_content {
      width:0%;
      height: 0%;
      overflow:hidden;
    }

  }

  &.widget_contracted {

    > header {
      border: 0;
    }

    .widget_content {
      width: 0;
      border: 0;
      height: 0;
      overflow:hidden;

    }
  }
  
}


