@import "variables";

.widget_weather .widget_content {

	ul {
		list-style-type: none;
	    margin-bottom: 0;
	    padding-left: 0;

	    li {
	    	border-bottom: 1px dashed $bordercolor;
			padding: 5px 10px;
			&:last-child {
				border: none;
			}
	    }
	}
}