[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

div.widget-ghost {
	opacity: 0.4;
}

#container .col-xs-3 {
	min-height: 100px;
}